{% extends "_layouts/layout.twig" %}

{% block content %}
{% set searchQuery = craft.app.request.getQueryParam('search') %}
<div class="h-screen">
  {# <form action=" {{url('plants')}}">
    <input type="text" name="search" id="" value="{{searchQuery}}">
    <button type="submit">Search</button>
  </form> #}
</div>
  
{% endblock %}