{% extends "_layouts/layout.twig" %}

{% block content %}
{% set rawCategory = craft.categories()
  .group('plantType') %}
{% set category = rawCategory.all() %}

{# eager load featuredContent #}
<div class="h-auto md:h-screen">
  <div class="container mx-auto">

    <div class="bg-green-300 my-12">
      {% for block in entry.featuredContent.all() %}
        {% if block.type == "paragraph" %}
          <div class="bg-gray-200 rounded p-7">
            <h1 class="capitalize p-2">{{block.paragraph}}</h1>
          </div>
        {% elseif block.type == "featuredPost" %}
          {# mengambil data dari field featuredContent #}
          {% set post = block.contentPost %}
          {# mengambil data dari field dalam matrix #}
          {% set header = block.header %}
          <div class="p-3">
            <h1 class="text-3xl text-center m-auto border-b-2 border-black w-3/4 py-3"> {{block.header}} </h1>
            {% include "_includes/featured-content.twig" with {
            'title' : header,
            'bgHeader' : block.bgHeader,
            'borderColor' : block.borderColor,
            'headerColor': block.headerColor,
            'data' : post
            } %}  
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>  
{% endblock %}