{% extends "_layouts/layout.twig" %}

{% block content %}
{% set rawCategory = craft.categories()
  .group('plantType') %}
{% set category = rawCategory.all() %}

{# eager load featuredContent #}
<div class="h-auto md:h-auto">
  <div class="container mx-auto">

    <div class="my-12">
      {% for block in entry.featuredContent.all() %}
        {% if block.type == "paragraph" %}
          <div class="{{block.bgHeader}} rounded p-7">
            <div class="{{block.headerColor}} text-center text-lg md:text-3xl font-bold border-b-2 border-black w-3/4 m-auto">{{block.judul}}</div>
            <h1 class="capitalize p-2"> {{block.body}}</h1>
          </div>
        {% elseif block.type == "featuredPost" %}
          {# mengambil data dari field featuredContent #}
          {% set post = block.contentPost %}
          {# mengambil data dari field dalam matrix #}
          {% set header = block.header %}
          <div class="p-3">
            {% include "_includes/featured-content.twig" with {
            'header' : block.header,
            'bgHeader' : block.bgHeader,
            'borderColor' : block.borderColor,
            'headerColor': block.headerColor,
            'data' : post
            } %}  
          </div>
        {% elseif block.type == "recentPost" %}
          {% set data = craft.entries()
            .section('plants')
            .limit(block.limit)
            .all() 
          %}
          <div class="p-3">
            {% include "_includes/featured-content.twig" with {
            'header': block.judul,
            'bgHeader' : block.bgHeader,
            'borderColor' : block.borderColor,
            'headerColor': block.headerColor,
            'data' : data
            } %}  
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>  
{% endblock %}