{% extends "_layouts/layout.twig" %}

{% block content %}
{% set rawCategory = craft.categories()
  .group('plantType') %}
{% set category = rawCategory.all() %}
<div class="h-screen">
  {% embed "_includes/card-content.twig" with { 'group' : 'category' } %}
    {% block content %}
      {% for item in category %}
        <a href="{{item.url}}">{{item.title}}</a>
      {% endfor %}
    {% endblock %}
  {% endembed  %}
</div>
  
{% endblock %}