<div class="bg-green-200 h-auto w-auto p-6">
  <div class="text-center bg-green-400 rounded-md"> {{ contentTitle }} </div>
  <div class="p-6">
    {% block contentPost %}
      
    {% endblock  %}
</div>
</div>