<div class="bg-gray-700 h-auto p-2 text-gray-50 text-center absolute w-full bottom-0" >
  <p class=" text-xl  ">&copy 2021 Planty</p>
  <p class="capitalize text-xl " >Website Provide Planting Information</p>
</div>